<% if @chat.previous_changes["topic"].present? %>
    <%= turbo_stream.replace "chat_topic" do %>
        <h1>Chat about: <%= @chat.topic %></h1>
    <% end %>
<% end %>

<%= turbo_stream.append "messages" do %>
    <%= render "messages/messages", messages: @chat.messages.last(2) %>
<% end %>

<%= turbo_stream.replace "new_message" do %>
    <%= render "messages/form", chat: @chat, message: Message.new %>
<% end %>
