<h1> Chat about <%= @chat.topic %> </h1>
<h1> for <%= @chat.plant.species %></h1>

<div class="mt-3">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, placeholder: "Ask a question", required: true %>
    <%= f.input :file, as: :file %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

<% @chat.messages.each do |message| %>
  <p>
    <strong><%= message.role %></strong>
    <%= message.content %>
  </p>
<% end %>

<%# displaying @messages later on %>
