<%= turbo_stream_from @chat %>

<div id="chat_topic">
  <h1> Chat about: <%= @chat.topic %> </h1>
</div>
<h1> for <%= @plant.species %></h1>

<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to your plant'.html_safe, plant_path(@plant) %>

<div id="messages">
  <%= render "messages/messages", messages: @chat.messages %>
</div>

<div id="new_message" class="mt-3">
  <%= render "messages/form", chat: @chat, message: @message %>
</div>
