<h1>Edit details of your plant</h1>
<%= link_to "<< To details", plant_path(@plant)%>
<%= simple_form_for(@plant) do |f| %>
    <%= f.input :species %>
    <%= f.input :nickname %>
    <%= f.input :age %>
    <%= f.input :is_potted %>
    <%= f.input :location %>
    <%= f.input :image, as: :file %>
    <%= f.submit %>
<% end %>
